<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/agregar.css">
</head>
<body>

  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Victoria commerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tienda" tabindex="-1">Tienda</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h1>Agregar productos</h1>

<form action="/admin/home/agregar" method="post" 
enctype="multipart/form-data">
<div class="form__titulo">
  <label>Titulo</label>
  <input type="text" class="form__titulo-input" placeholder="Titulo" name="titulo">
</div>

<div class="form__subtitulo">
    <label>Subtitulo</label>
  <input type="text" class="form__subtitulo-input" placeholder="Subtitulo" name="subtitulo">
</div>

<div class="form__precio">
    <label>Precio</label>
  <input type="text" class="form__precio-input" placeholder="Precio" name="precio">
</div>

<div class="form__descripcion">
  <label>Descripcion</label>
  <textarea type='text' placeholder="Descrpicion del producto" class="form-control" name="cuerpo">{{cuerpo}}</textarea>
</div>

<div class='form__img_id'>
  <label>Imagen: <input type="file" name='imagen' id='imagen'> </label>
</div>

<button class="guardar" type="submit">Guardar</button>
</form>

{{#if error}}
<h5>{{message}}</h5>
{{/if}}
</body>
</html>
